data/crime_data/Crimes_-_2001_to_Present.csv
/SS
data/crime_data/Crimes_-_2001_to_Present.rar
output/kmeans_iters_10.gif
output/kmeans_iters_40.gif
/2. Bank fraud detection
data/comm_snapshot/CSS desc.xlsx
data/comm_snapshot/CSS desc.xlsx
data/comm_snapshot/CSS desc.pdf
data/comm_snapshot/CSS desc.docx
data/comm_snapshot/CSS desc.docx
data/comm_snapshot/CSS desc.pdf
data/comm_snapshot/CSS desc.xlsx
main.ipynb
__pycache__/utils.cpython-37.pyc
__pycache__/used_packages.cpython-37.pyc
.ipynb_checkpoints/Feature Selection-checkpoint.ipynb
main.ipynb
main.ipynb
main.ipynb
main.ipynb
data/crime_data/crime_data_clean_2015.csv
data/crime_data/crime_data_clean.rar
data/crime_data/crime_data_clean.csv
data/crime_data/crime_data_clean_2015.rar
